body {
    font-family: Arial;
}

 
#sunset-outer {
    height: 600px;
    width: 100%;
    overflow: hidden; 

    position: relative;
}
 
#cover-text, #cover-text h2 {
    color: #fff;
}



#sunset1  {
    height: 600px;
    width: 100%;
    background: url('../images/sunset1.jpg') no-repeat center center; 

    /* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;    
     
   
}
    /* creates the level of zoom for hero image */
@keyframes hero-zoom {
    from{
        transform: scale(1);}
    to{
        transform: scale(1.1);}
    }
    
    
  
    
    
    #cover-text {
        font-size : 130%;
        font-family : Oswald, sans-serif;
        text-transform : uppercase;
        letter-spacing : 4px;
        width : 1000px;
        height : 175px;
        padding-top : 40px;
        padding-left : 10px;
        
        bottom : 400px;
        left : 50px;
        position : relative;
    }